body {
    font-family: Arial;

}
#text {
    text-align: center;
}
.navbar {
    display: flex;
    background-color: #b4a8a8;
    border-radius: 1%;
}
.navbar #nav {
    padding: 0 10%;
}
.nv1 {
    display: flex;
    background-color: #9a9090;
    height: 160px;
}
.nv1 #img1 {
    width:10%;
    padding: 0.5% 8% 0 0;

    height: 120px;
}
.nv1 #nav {
    padding:0 7%;
}
.nv1 #navb {
    padding:0 10%;
}
.nv1 #navbb {
    padding: 0 5%;
}
.nv2 {
    display: flex;
    background-color: #c4bcbc;
    height: 160px;
}
.nv2 #img1 {
    width:10%;
    padding: 0 8% 0 0;
}
.nv2 #nav {
    padding:0 7%;
}
.nv2 #navb {
    padding:0 10%;
}
.nv2 #navbb {
    padding: 0 5%;
}
.nv2 #img2 {
    width: 128px;
    height: 120px;
    padding: 0.5% 8.5%;
}
.nv3 {
    display: flex;
    background-color: #f1ecec;
    height: 160px;
}

.nv3 #nav {
    padding:0 7%;
}
.nv3 #navb {
    padding:0 10%;
}
.nv3 #navbb {
    padding: 0 5%;
}
.nv3 #img3 {
    width: 130px;
    height: 120px;
    padding: 0.5% 9%;
}
.nv4 {
    display: flex;
    background-color: #c4bcbc;
    height: 160px;
}

.nv4 #nav {
    padding:0 7%;
}
.nv4 #navb {
    padding:0 10%;
}
.nv4 #navbb {
    padding: 0 5%;
}
.nv4 #img4 {
    width: 130px;
    height: 120px;
    padding: 0.5% 7.7%;
}
.nv5 {
    display: flex;
    background-color: #ffffff;
    height: 160px;
}

.nv5 #nav {
    padding:0 7%;
}
.nv5 #navb {
    padding:0 10%;
}
.nv5 #navbb {
    padding: 0 5%;
}
.nv5 #img5 {
    width: 130px;
    height: 120px;
    padding: 0.5% 10.2%;
}




